/*====================================
=									 =
=              Algemeen				 =
=									 =
====================================*/



/*====================================
=									 =
=              Header				 =
=									 =
====================================*/

.banner {
    text-align: center;
    border: 2px solid black;
    margin: 0px 200px 0px 200px;
}

.nav {
    background-color: grey;
    margin: 0px 200px 0px 200px;
    padding: 0px 25px 0px 25px;
    height: 40px;
}

.navmenu {
    margin: 0px;
    padding: 0px;
}

.navmenu ul {
    margin: 0px;
    padding: 0px;
}

.navmenu li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
    position: relative;
    background: grey;
}

.navmenu li:hover {
    background-color: lightgrey;
    width: 121px;
}

.navmenu ul li a {
    text-align: center;
    padding: 10px 0px 0px 0px;
    font-family: 'Macondo';
    text-decoration: none;
    height: 30px;
    width: 120px;
    display: block;
    color:black;
}

.navmenu ul ul {
    position: absolute;
    visibility: hidden;
    z-index:100;
}

.navmenu ul ul li {
    margin: 1px 0px 1px 0px;
    background-color: blue;
}

.navmenu ul li:hover ul {
    visibility: visible;
    
}

.info {
    background-color: grey;
    padding: 10px;
    margin: 10px 200px 0px 200px;
    height: 1100px;
}

a {
    text-decoration: none;
}


p.menu:hover {
    background-color: lightgrey;
}

p.menu2 {
    font-family: Arial;
    text-align: center;
    background-color: grey;
    float: right;
    width: 100px;
    height: 30px;
    margin: 0px 10px 0px 10px;
    padding: 10px 0px 0px 0px;
}

p.menu2:hover {
    background-color: lightgrey;
}

.personage {
    padding: 10px;
    margin: 30px 60px 30px 40px;
    float: left;
    background-color: lightgrey;
    height: 200px;
    width: 150px;
}

.overons_l {
    float: left;
    width: 50%;
}

.inleiding {
    font-family: 'Georgia';
    font-size: 20px;
}

.overons_r {
    float: right;
    width: 65%;
}

img.personagefoto {
    padding: 0px;
    margin: 0px;
    width: 150px;
    position: relative;
}

img.overonsfoto {
    padding: 10px;
    margin: 0px;
    background-color: lightgrey;
    width: 40%;
    position: relative;
}

img.overonsfoto2 {
    padding: 10px;
    margin: 0px;
    background-color: lightgrey;
    width: 30%;
    position: relative;
}

img.agenda {
    padding: 10px;
    margin: 300px;
    background-color: lightgrey;
    width: 70%;
    position: relative;
}

.inschrijf_form input{
    height:30px;
    width:200px;
    padding:3px;
    margin-bottom:10px;
    font-size:20px;
}

.inschrijf  {
    font-family: 'Macondo';
}

.inschrijf_form {
    font-size:21px;
    font-family: 'Macondo';
}

.radio {
    margin-left:-80px;
    margin-right:-20px;
}

/* Gastenboek */

.gastmenu {
    padding: 10px;
    width: 120px;
    height: 200px;
    background-color: lightgray;
    position: relative;
    float: left;
}

.gastmenu li {
    font-family:'Macondo';
    list-style: none;
    position: relative;
    float: left;
    margin: -10px 0px 10px -50px;
    height: 25px;
    width: 120px;
    text-align: center;
    padding: 10px;

}

.gastmenu li:hover{
    background-color: blue;
    width: 120px;
    
}

.gastberichten {
    padding: 0px;
    margin: 0px 0px 0px 10px;
    background-color: lightgrey;
    height: 1000px;
    width: 900px;
    float: left;
    position: relative;
}

p.gastbericht {
}